<div class="container-fluid wrapper">
  <div class="container">
    <h2>Как это будет происходить</h2>
    <div class="col-md-12 wrapper-block">
      <div class="row">
        <img src="/assets/image/line.png" alt="line" class="line">
        <img src="/assets/image/line2.png" alt="line" class="line2">
        <div class="col-md-4">
          <img src="/assets/image/1.png" alt="icon">
          <p>
            C самого утра Вы приезжаете к нам в офис
          </p>
        </div>
        <div class="col-md-4">
          <img src="/assets/image/2.png" alt="icon">
          <p>
            Проектный менеджер оговаривает с Вами возможности CRM-систем
          </p>
        </div>
        <div class="col-md-4">
          <img src="/assets/image/3.png" alt="icon">
          <p>
            Происходит базовая настройка системы в режиме онлайн, с сопутствующими объяснениями по работе системы
          </p>
        </div>
      </div>
      <div class="row">
        <img src="/assets/image/line.png" alt="line" class="line">
        <img src="/assets/image/line3.png" alt="line" class="line3">
        <div class="col-md-4">
          <img src="/assets/image/4.png" alt="icon">
          <p>
            C самого утра Вы приезжаете к нам в офис
          </p>
        </div>
        <div class="col-md-4">
          <img src="/assets/image/5.png" alt="icon">
          <p>
            Проектный менеджер оговаривает с Вами возможности CRM-систем
          </p>
        </div>
        <div class="col-md-4">
          <img src="/assets/image/6.png" alt="icon">
          <p>
            Происходит базовая настройка системы в режиме онлайн, с сопутствующими объяснениями по работе системы
          </p>
        </div>
      </div>
      <div class="row">
        <img src="/assets/image/line.png" alt="line" class="line4">
        <img src="/assets/image/arrow.png" alt="line" class="arrow">
        <div class="col-md-4">
          <img src="/assets/image/7.png" alt="icon">
          <p>
            Происходит базовая настройка системы в режиме онлайн, с сопутствующими объяснениями по работе системы
          </p>
        </div>
        <div class="col-md-4">
          <img src="/assets/image/8.png" alt="icon">
          <p>
            Происходит базовая настройка системы в режиме онлайн, с сопутствующими объяснениями по работе системы
          </p>
        </div>
      </div>
      <h4>Все подключено!<br> У Вас есть удобная система для автоматизации Вашего бизнеса!</h4>
      <a scrollTo href="#form"><button class="button">Давайте начнем</button></a>
    </div>
  </div>
</div>
