<div class="container-fluid wrapper">
  <div class="container">
    <div class="col-md-12 block-main">
      <h1>Автоматизированный <br> бизнес 2018</h1>
      <div class="row">
        <div class="col-md-1">
          <img src="/assets/image/004-bars.png">
        </div>
        <div class="col-md-10">
          <ul>
            <li>Как увеличить продажи и улучшить клиентский сервис с помощью <span>CRM системы</span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1" style="padding-bottom: 38px">
          <img src="/assets/image/smartphone.png">
        </div>
        <div class="col-md-10">
          <ul>
            <li>Как управлять бизнесом с телефона</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <img src="/assets/image/online-shop.png">
        </div>
        <div class="col-md-10">
          <ul>
            <li>Как уменьшить расходы на рекламу с помощью <span>сквозной аналитики</span></li>
          </ul>
        </div>
      </div>
    </div>
    <a href="#" class="button">Забронировать участие</a>
  </div>
  <div class="col-md-12 arrow">

    <a scrollTo href="#next-page"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
  </div>
</div>
