<div class="container-fluid wrapper">
  <div class="container">
    <h2>Почему более 200 компаний в 40 нишах выбрали нас:</h2>
    <div class="col-md-12" style="padding-left: 50px;margin-bottom: 15px">
      <span></span>
    </div>
    <div class="grid-container">
      <div class="grid-item">
        <img src="/assets/image/001-customer.png" alt="icon">
        <p>
          Мы выбираем самую подходящую CRM систему для вашего бизнеса, а не только продаем одну. Мы можем внедрить amoCRM, Bitrix24, oneBox, retailCRM, pipedrive, Terrasoft, salesforse
        </p>
      </div>
      <div class="grid-item">
        <img src="/assets/image/004-skyline.png" alt="icon">
        <p>
          Опыт работы с крупными компаниями с более 400-ми сотрудниками в компании. Опыт внедрения CRM систем более 4 лет.
        </p>
      </div>
      <div class="grid-item">
        <img src="/assets/image/003-connection.png" alt="icon">
        <p>
          Над каждым Вашим проектом работает целая команда специалистов (на примере стандартной интеграции Битрикс24) - Project Manager, Технический специалист, Программист, Программист 1С, Консультант по продажам.
        </p>
      </div>
      <div class="grid-item">
        <img src="/assets/image/team.png" alt="icon">
        <p>
          Все наши сотрудники официально прошли сертификацию от разработчиков.
        </p>
      </div>
      <div class="grid-item">
        <img src="/assets/image/planning.png" alt="icon">
        <p>
          Внедряем CRM комплексно - от помощи в написания технического задания до обучения персонала CRM. Обучение руководителей и отдела продаж, создание скриптов, подсчет KPI сотрудников, определение системы мотивации
        </p>
      </div>
      <div class="grid-item">
        <img src="/assets/image/001-headset.png" alt="icon">
        <p>
          Оказываем поддержку после внедрения. Мы поможем с любой сложностью, которая может у Вас возникнуть.
        </p>
      </div>
    </div>
  </div>
</div>
