<div class="container-fluid wrapper">
  <div class="container">
    <div class="col-md-4">
      <span>Crystal IT</span>
      <span>Решение для бизнеса</span>
    </div>
    <div class="col-md-4">
      <span>Киев 14.08</span>
      <span>семинар для руководителей и владельцев бизнеса </span>
    </div>
    <div class="col-md-4">
      <p id="demo">
        <span id="days"> :</span>
        <span id="hours"> :</span>
        <span id="minutes"> :</span>
        <span id="seconds"> :</span>
      </p>
    </div>
  </div>
</div>
