<div class="container-fluid wrapper">
  <div class="container">
    <div class="col-md-8 left-side">
      <h3>Закажите внедрение</h3>
      <span>amoCRM за 1 день.</span>
      <img src="/assets/image/orange-arrow.png" alt="arrow">
      <h3>Начни сейчас и получи <br> результат уже завтра!</h3>
    </div>
    <div class="col-md-4 right-side">
      <form>
        <input type="text" placeholder="Имя">
        <input type="email" placeholder="Email">
        <input type="tel" placeholder="Телефон">
      </form>
      <button type="submit" class="button">Заказать</button>
    </div>
  </div>
</div>
