<div class="container-fluid wrapper">
  <div class="container">
    <div class="col-md-6 left-block">
      <h2>Что будет?</h2>
      <h3>Основные темы семинара</h3>
      <iframe width="500" height="315" src="https://www.youtube.com/embed/Kv_7mP9CsnA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 right-block">
      <div class="row">
        <div class="col-md-12 main-themes">
          <h4>Автоматизация с помощью CRM-систем</h4>
          <p>
            За счет чего CRM-системы уже увеличивают продажи у Ваших конкурентов. Автоматизация воронки продаж, контроль всех процессов, 4 основных характеристик в отделе продаж.
          </p>
          <span>1</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 main-themes">
          <h4>3 успешных кейса в разных  сферах</h4>
          <p>
            3 успешных кейса - опт, розница, услуги
          </p>
          <span>2</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 main-themes">
          <h4>Новые фишки в CRM? </h4>
          <p>
            Какие подводные камни есть при внедрении системы.
          </p>
          <span>3</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 main-themes">
          <h4>Увеличение эффективности Ваших менеджеров </h4>
          <p>
            Взаимодействие между отделами компании, как владельцу бизнеса CRM поможет с правильным делегированием
          </p>
          <span>4</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 main-themes">
          <h4>Как сделать правильный выбор?</h4>
          <p>
            amoCRM, Битрикс24, OneBox, retailCRM, Terrasoft
          </p>
          <span>5</span>
        </div>
      </div>
      <h3>Бонус.</h3>
      <span>Система касаний с клиентом. Сквозная аналитика</span>
    </div>
  </div>
</div>
